@import 'tailwindcss';

@theme {
  --color-primary: #2563eb;
  --color-dark: #0f172a;
  --color-light: #f8fafc;

  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

  --container-center: true;
  --container-padding: 1rem;
}

@layer components {
  .btn-primary {
    @apply flex items-center justify-center px-6 py-3 rounded-md font-semibold transition-all active:scale-95 text-center bg-primary text-white shadow-sm hover:bg-primary/90 cursor-pointer;
  }
}

@layer base {
  h1,
  h2,
  h3 {
    @apply font-bold tracking-tight;
  }

  .container {
    @apply mx-auto px-4;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
